<!doctype html>
<html>
  <head>
    <title><%= @page.title %></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Demo Site</h1>
      <%= yield %>
    </div>
  </body>
</html>
